.login{
    background-image: url("https://img.freepik.com/free-photo/part-construction-worker-with-tools-belt_329181-3769.jpg");
}

.info{
    padding: 30px;
}

h3{
    font-size: 20px;
    font-weight: 10px;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 10px;
}

p{
    font-size: 16px;
    font-weight: 10px;
    margin-bottom: 35px;
    text-align: left;
    margin-top: 35px;
}

