.login{
    background-image: url("https://img.freepik.com/free-photo/part-construction-worker-with-tools-belt_329181-3769.jpg");
    /* object-fit: cover;
    align-items: center;
    background-size: "cover";
    height: "100vh";
    display: "flex";
    align-items: "center";
    justify-content: "center";
    background-repeat: "no-repeat"; */

}
/* .loginformdiv{
    background-color: #f4f4f4;
    position: absolute;
    width: 1280px;
    height: 832px;
    left: 0px;
    top: 0px;
} */

.info{
    padding: 30px;
}

h3{
    font-size: 20px;
    font-weight: 10px;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 10px;
}

p{
    font-size: 16px;
    font-weight: 10px;
    margin-bottom: 35px;
    text-align: left;
    margin-top: 35px;
}

/* .btn1{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;

} */
